<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
 <title>account</title>
</head>
<style>
    h1{
          color: green;
          font-size:  x-large;
          font-style: bold and italic;
          margin-right: 40px;
          margin-bottom: 0px;
        
    }

    p{
        font-size: xx-large;
        margin-top: 0px;
        background-color: rgb(83, 182, 26);
        color: rgb(34, 58, 37);
    }
    .titleIformations{
        background-color: rgb(185, 201, 141);
    }

</style>
<body>
    <div class = "titleIformations">
        <h1>
            Account:
        </h1>
        <p>UserName: {{username}}</br></br>Hi {{username}}</br>this is your django profile
        </p>

    </div>
</body>
</html>