<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
 <title>account</title>
</head>
<style>
    
</style>
<body>
    <div class = "titleIformations">
        <div class="table">
            <table class="table">
                <thead>
                  <tr>
                    WELCOME {{account.full_name}}:
                    Your Account Information:
                  </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <th scope="col">User Full Name:{{account.full_name}} </th>
                    </tr>

                    <tr>
                        <th scope="col">UserName:{{account.username}} </th>
                    </tr>

                    <tr>
                          <th scope="col">Email:{{account.email}} </th>
                    </tr>
                        
                    <tr>
                        <th scope="col">Bio:{{account.Bio}} </th>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>