{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Home</title>
</head>
<style>
     
     .home-class{

        background-color: aquamarine;
        text-align: center;
        font-size: larger;
     }
     a{
         color: rgb(10, 21, 175);
         font: bold and italic;
     }
</style>
<body>
    <div class="home-class">

        <p>Hello Django </br>Abtin Zandi : 19 : Theran 
            </br>
            This is Home page for path test in django!</p>
        <pre><a href="contact">Contact Us</a>   <a href="/course/courses/list">Courses List</a>  <a href="signUp">Sign Up</a></pre></pre> 
        <img src=" {% static "BlogApp/img/Django_logo.png" %} " alt="">
    </div>
</body>
</html>