<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Sign Up</title>
</head>
<style>
  
</style>
<body>
    <h1>Sign Up Menu:</h1>
    <div class="home-class" style="align-self: center;">
        <form action="">
            <hr>
            <input type="text" name="full_name" placeholder="Full Name">
            <hr>
            <input type="text" name="username" placeholder="username">
            <hr>
            <input type="password" name="password" placeholder="password">
            <hr>
            <input type="email" name="email" placeholder="email">
            <hr>
            <input type="text" name="Bio" placeholder="Bio">
            <hr>
            <button type="submit">sign up</button>
        </form>
    </div>
</body>
</html>