<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>contact</title>
</head>
<style>
    .contact-ways{
        background-color: rgb(89, 161, 161);
        font-size: xx-large;
        font-style: bold;
        margin-right: 40px;
        margin-bottom: 0px;
        color: blue;
    }
    p{
        background-color: rgb(41, 59, 59);
        font-size: xx-large;
        margin-top: 0px;
        color: rgb(51, 147, 177);

    }
</style>
<body>
    <div class="home-class">
        <h1 class="contact-ways">Contact us :</h1>
        <p></br>GitHub : Abtinz 
        </br>Email : NotAbtin@FakeEmail.com
        </p>
        
    </div>
</body>
</html>