{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>New Football Club</title>
</head>

<style>
    br{
        margin-top: 10px;
    }
</style>
<body>
    <div>
        <h1>Please fill new football club form</h1>

        <a href="/clubs/information/table"  class="btn btn-success btn-block">Create Club!</a>

        <form action="" , style="margin-left:30px ;">
            <br>
            <input type="text" placeholder="clubs name">
            <br>
            <input type="date" placeholder="Foundation date">
            <br>
            <input type="text" placeholder="clubs league">
            <br>
            <input type="text" placeholder="clubs  rank">
            <br>
            <input type="text" placeholder="clubs country">
            <br>
        </form>
        
    </div>
</body>
</html>